/* Jasmine Theme: modifies the default theme to inject a wee bit o' green in various places. */

/* Use Open Sans as the default font. */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");

/* See https://getbootstrap.com/docs/5.2/customize/css-variables/#root-variables for variables to override. */
:root {
  --tf-header-font: "Archivo Black", sans-serif;        /* font for headers */
  --tf-body-font: "IM Fell Great Primer", serif;        /* font for body text */
  --tf-green1: #136c14;
  --tf-green2: #4FA64F;
  --tf-green3: #85C285;
  --tf-green4: #e0f2df;
  --background-white: #f2f2f2;
  --header-dark: #292929;
  --bs-link-color: var(--tf-green1);
  --tf-pill-bg: var(--tf-green3);
  --tf-icon-fill: var(--tf-green1);
  --tf-icon-hover: var(--tf-green2);
  --tf-page-bg-color: var(--background-white);
  --tf-footer-bg-color: var(--tf-green4);
  --tf-projects-bg-color: var(--tf-green4);
}

/* positioning the profile picture at the top-center */
#photo-icon {
  position: absolute;
  margin-top: 30px;
  top: 20px; /* distance from the top */
  left: 50%; /* horizontal center */
  transform: translateX(-50%); /* adjust for perfect centering */
  width: 200px; /* adjust size */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 10; /* make sure it appears above other content */
}

body {
  font-family: var(--tf-body-font); /* regular text font */
}

h1,h2,h3,h4,h5 {
  font-family: var(--tf-header-font); /* header font */
  color: var(--header-dark);
}

.navbar {
  background-color: var(--background-white);
}

/* Format social media icons */
.tf-social {
  display: inline-block;
  fill: var(--tf-green1);
  height: 1.5em;
  vertical-align: -.1em;
  width: 1.5em;
  transition: 0.2s;
}

.tf-social:hover {
  fill: var(--tf-icon-hover);
}

a {
  text-decoration: none;
}

@media (max-width: 500px) {
  .navbar-brand {
    display: none;
  }

  .navbar-brand-mobile {
    display: inline;
  }
}

/* Simplify the styling of the bottom of Essay cards. */
.card-footer {
  background-color: var(--bs-white);
  border-top: none;
}
